target/
.idea/
*.iml
vaadin-select-flow-integration-tests/error-screenshots/
**/build-tools/node
**/build-tools/node_modules
**/package-lock.json
**/bower_components/
.project
.classpath
*.launch
.settings/
.vscode/*

# The following files are generated/updated by flow-maven-plugin
package.json
package-lock.json
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
