.demo-view {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.options
{
  min-height: 120px;
  width: 100%;
}

.layout {
  flex-grow: 1;
}

.formattingexample {
  display: flex;
  flex-flow: column;
}

