bin
target
integration-tests
pom.xml.bak

# Eclipse
.project
.settings
.classpath
*.iml

# Idea files
.idea/
*.iml

.vscode
types.d.ts
tsconfig.json
webpack.*
vite.generated.ts
/vite.config.ts
node_modules
.driver
package*json
pnpm*
.npmrc
.pnpmfile.cjs
error-screenshots

**/frontend/generated
**/frontend/index.html
**/frontend/*.tsx
dev-bundle
prod.bundle
