@import "variables_valo";

@mixin spreadsheet-valo {
	.v-spreadsheet {
		overflow: hidden;
		position: relative;
		
		padding-bottom: 29px;
		padding-left: 50px;
		padding-top: 60px;
		
		border: $spreadsheet-border;
		font-family: $spreadsheet-base-font-family;
		font-size: $spreadsheet-base-font-size;
		color: $default-font-color;
		
		> div {
			outline: none;
		}
		
		> div, 
		.sheet > div {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		
		&.row-resizing,
		&.row-resizing div {
			cursor: row-resize;
		}	
		
		&.col-resizing,
		&.col-resizing div {
			cursor: col-resize;
		}
		
		&.selecting {
			cursor:crosshair;
		}
		
		
		/** FUNCTION BAR */
		.functionbar {
			background-color: $functionbar-background-color;
			border-bottom: $spreadsheet-border;
			height: 29px;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 200;
		
			.functionfield,
			.addressfield {
				font-size: $spreadsheet-base-font-size;
				height: 18px;
				width: 100%;
				padding: 0;
				padding-left: 5px;
				border: none;
				box-sizing: border-box;
				color: $functionbar-font-color;
				outline: none;
			}
			
			.fixed-left-panel {
				float: left;
				width: 180px;
				height: 100%;
				border-right: $spreadsheet-border;
				padding-top: 6px;
				box-sizing: border-box;
				background: $address-field-background; 
			}
			
			.adjusting-right-panel {
				overflow: hidden;
				padding-right: 10px;
				height: 100%;
				padding-top: 6px;
				box-sizing: border-box;
			}
			
			.addressfield {
				text-align: center;
				background: $address-field-background;
			}
		}
		
		
		/** SHEET (BOTTOM RIGHT PANE) */
		.sheet {
			&.bottom-right-pane {
				overflow: scroll;
				right: 0;
				bottom: 28px;
				position: absolute;
			}
			
			.cell {
				background-color: $cell-background-color;
				border-right: $spreadsheet-border;
				border-bottom: $spreadsheet-border;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				overflow: visible;
				padding: 0 2px;
				position: absolute;
				white-space: nowrap;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				line-height: normal;
				
				&.cell-range {
				 	background-color: $sheet-selection-range-bg-color !important;
				}
				
				&.selected-cell-highlight {
					outline: solid $sheet-selection-highlight-outline-color 1px;
					-moz-outline-offset: -2px;
					outline-offset: -2px; 
					z-index: 3;
				}
			}
			
			div{
				&.cell.r {
					text-align: right;
				}
				
				&.merged-cell {
					display: block;
					overflow: hidden;
					z-index: 5 !important;
				}
				
				&.custom-editor-cell {
					padding: 2px;
				}
			}
			
			&.bottom-right-pane div.merged-cell {
				z-index: 5 !important;
			}
			
			> input[type="text"] {
				border: 0 !important;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				cursor: text;
				display: block !important;
				outline: none !important;
				overflow: hidden;
				padding: 0 !important;
				position: absolute;
				z-index: 26 !important;
			}
			
			.floater {
				border-right: 0;
				border-bottom: 0;
				z-index: -1;
				background-color: white;
			}
		}
		
		&.nogrid .sheet .cell {
			border-right: 0px;
			border-bottom: 0px;
		}
		
		.top-left-pane div.merged-cell {
			z-index: 25 !important;
		}
		
		.top-right-pane div.merged-cell,
		.bottom-left-pane div.merged-cell {
			z-index: 15 !important;
		}
		
		
		/** SHEET FREEZE PANES */
		.top-left-pane,
		.top-right-pane,
		.bottom-left-pane {
			border-right: $freeze-pane-border;
			border-bottom: $freeze-pane-border;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			overflow: visible;
			position: absolute;
			
			&.inactive {
				border-right: 0;
				border-bottom: 0;
			}
		}
		
		.bottom-left-pane {
			height: 100%;
			left: 0;
			padding-bottom: 28px;
			z-index: 10;
			
			.rh {
				left: 0;
				margin-top: 0 !important;
			}
			
			.cell, .sheet-selection, .s-paint, .sheet-image {
				margin-left: 50px;
			}
		}
		
		.top-left-pane {
			left: 0;
			top: 30px;
			z-index: 20;
			
			.ch {
				top: 0;
				margin-left: 50px;
			}
			
			.rh {
				left: 0;
				margin-top: 27px;
			}
			
			.cell, .sheet-selection, .s-paint, .sheet-image {
				margin-top: 27px;
				margin-left: 50px;
			}
		}
		
		.top-right-pane {
			top: 30px;
			width: 100%;
			z-index: 11;
			
			.ch {
				top: 0;
				margin-left: 0 !important;
			}
			
			.cell, .sheet-selection, .s-paint, .sheet-image {
				margin-top: 27px;
			}
		}
		
		&.noheaders {
			.top-left-pane, .top-right-pane {
				.cell, .sheet-selection, .s-paint, .sheet-image {
					margin-top: 0;
				}
			}
			
			.top-left-pane, .bottom-left-pane {
				.cell, .sheet-selection, .s-paint, .sheet-image {
					margin-left: 0;
				}
			}
		}
		
		
		/** SHEET HEADERS */
		.ch, .rh, .corner {
			background-color: $header-bg-color;
			font-family: Helvetica;
			font-size: $spreadsheet-header-font-size;
			overflow: hidden;
			position: absolute;
			text-align: center;
		}
		
		.rh {
			border-right: $header-border;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: e-resize;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			width: 50px;
			z-index: 29;
			display: flex;
			justify-content: center;
			vertical-align: middle;
			flex-direction: column;
			padding-top: 3px;
			
			&.selected-row-header {
				background: $selected-header-bg-color !important;
				border-right: 2px solid $selected-header-border-color;
			}
			
			.header-resize-dnd-first, 
			.header-resize-dnd-second {
				background: transparent;
				cursor: row-resize;
				height: 3px;
				position: absolute;
				left: 0;
				width: 49px;
				z-index: 30;
			}
			
			.header-resize-dnd-first {
				top: 0;
			}
			
			.header-resize-dnd-second {
				border-bottom: $header-border;
				bottom: 0;
			}
			
			&.resize-extra {
				border-bottom: $header-border;
			}
		}
		
		.ch {
			background: -moz-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -webkit-gradient(left top, left bottom, color-stop(2%, $col-header-gradient-top-color), color-stop(98%, $col-header-gradient-bottom-color));
			background: -webkit-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -o-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -ms-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			/* Vaadin SASS compiler can't handle the following line */
			/* background: linear-gradient(to bottom, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%); */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col-header-gradient-top-color', endColorstr='$col-header-gradient-bottom-color', GradientType=0 );
			border-bottom: $header-border;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: s-resize;
			height: 27px;
			padding-top: 4px;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			z-index: 29;
			
			&.selected-column-header {
				background: $selected-header-bg-color !important;
				border-bottom: 2px solid $selected-header-border-color;
			}
			
			.header-resize-dnd-first, 
			.header-resize-dnd-second {
				background: transparent;
				cursor: col-resize;
				height: 27px;
				position: absolute;
				top: 0;
				width: 3px;
				z-index: 30;
			}
			
			.header-resize-dnd-first {
				left: 0;
			}
			
			.header-resize-dnd-second {
				border-right: $header-border;
				right: 0;
			}
			
			&.resize-extra {
				border-right: $header-border;
			}
		}
		
		&.noheaders {
			padding-left: 0px;
			padding-top: 30px; /* functionbar height + 1*/
			.ch, .rh, .corner {
				display: none;
			}
		}
		
		.ch.col1 .header-resize-dnd-first,
		.rh.row1 .header-resize-dnd-first {
			display: none;
		}
		
		> div.resize-line {
			background: $resize-line-color;
		}
		 
		.sheet > div.resize-line {
			background: $inactive-resize-line-color;
		}
		 
		.resize-line, 
		.sheet > div.resize-line {
			border: none;
			height: 0;
			padding: 0;
			visibility: hidden;
			width: 0;
			z-index: 25;
			position: absolute;
		}
		
		&.col-resizing {
			.resize-line, 
			.sheet > div.resize-line {
				height: 100%;
				visibility: visible;
				width: 1px;
			}
			
			> .resize-line {
				margin-left: 49px;
				margin-top: -30px;
			}
			
			.sheet > div.resize-line {
				margin-left: -1px;
			}
		}
		
		&.row-resizing {
			.resize-line, .sheet > div.resize-line {
				height: 1px;
				visibility: visible;
				width: 100%;
			}
			
			>.resize-line {
				margin-top: 56px;
				margin-left: -50px;
			}
			
			.sheet>div.resize-line {
				margin-top: -1px;
			}
		}
		
		.corner {
			cursor: default;
			top: 30px;
			left: 0;
			width: 50px;
			height: 27px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-bottom: $header-border;
			border-right: $header-border;
			z-index: 100;
			background: -moz-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -webkit-gradient(left top, left bottom, color-stop(2%, $col-header-gradient-top-color), color-stop(98%, $col-header-gradient-bottom-color));
			background: -webkit-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -o-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			background: -ms-linear-gradient(top, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%);
			/* Vaadin SASS compiler can't handle the following line */
			/* background: linear-gradient(to bottom, $col-header-gradient-top-color 2%, $col-header-gradient-bottom-color 98%); */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col-header-gradient-top-color', endColorstr='$col-header-gradient-bottom-color', GradientType=0 );
		}
		
		
		/** SHEET IMAGES */
		.sheet > div.sheet-image {
			background: transparent;
			border: none;
			cursor: default;
			height: auto;
			width: auto;
			position: absolute;
		}
		
		.bottom-right-pane.sheet > div.sheet-image {
			z-index: 5;
		}
		
		.top-left-pane > div.sheet-image {
			z-index: 25;
		}
		
		.top-right-pane, 
		.bottom-left-pane {
			> div.sheet-image {
				z-index: 15;
			}
		}
		
		
		/** CELL COMMENT */
		.sheet {
			.cell-comment-triangle {
				border-color: transparent $cell-comment-triangle-color transparent transparent;
				border-style: solid;
				border-width: 0 8px 8px 0;
				height: 0;
				line-height: 0;
				margin: 0;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 0;
			}
			
			.comment-overlay-line {
				background-color: rgb(255, 255, 16) !important;
				border: none !important;
				display: block !important;
				height: 1px;
				padding: 0;
				position: absolute;
				-webkit-transform-origin: 0% 50%;
				-ms-transform-origin: 0% 50%;
				transform-origin: 0% 50%;
				z-index: 21;
			}
		}
		
		.v-spreadsheet-comment-overlay {
			background: rgb(255, 255, 16);
			border: 1px solid rgb(225, 225, 225);
			.comment-overlay-label {
				max-width: 200px;
				padding: 10px;
				white-space: pre-wrap;
			}
		}
		
		
		/** SELECTION WIDGET */
		div.sheet-selection {
			background-color: transparent !important;
			border: none !important;
			display: block;
			position: absolute;
			width: 0px;
			height: 0px;
			overflow: visible;
			pointer-events:none;
			margin-left: 1px;
			margin-top: 1px;
			
			&.col0.row0 {
				display: none;
			}
		}
		
		.sheet-selection {
			.s-top, .s-left, .s-bottom, .s-right {
				padding: 0;	
				background-color: $sheet-selection-border-color;
				position: absolute;
				
				&.extend {
					background-color: $sheet-selection-extend-corner-color !important;
				}
			}
			
			.s-top {
				top: -2px;
				left: -2px;
				height: 2px;
				pointer-events:all;
			}
			
			.s-left {
				width: 2px;
				padding-bottom: 1px;
			}
			
			.s-bottom {
				height: 2px;
				bottom: 0;
			}
			
			.s-right {
				right: 0;
				width: 2px;
			}
			
			.s-corner {
				background-color: $sheet-selection-corner-color;
				border-radius: 2px;
				bottom: -2px;
				cursor: crosshair;
				height: 7px;
				left: -2px;
				outline: 2px solid white;
				position: absolute;
				width: 7px;
			}
		}
		
		.s-paint {
			background: transparent;
			border: none !important;
			cursor: crosshair;
			outline: 2px solid $sheet-selection-extend-corner-color;
			outline-offset: -2px;
			padding: 0;
			position: absolute;
			z-index: 20;
			margin-top: -1px;
			margin-left: -1px;
			
			&.s-paint-inside {
				background: $sheet-selection-extend-inside-bg-color !important;
				cursor: crosshair;
			}
		}
		
		
		/** SHEET TABSHEET */
		.sheet-tabsheet {
			background: $sheet-selector-background;
			border-top: $spreadsheet-border;
			bottom: 0;
			cursor: default;
			height: 28px;
			left: 0;
			overflow: hidden;
			position: absolute;
			width: 100%;
			z-index: 50;
			
			.sheet-tabsheet-options {
				background: $sheet-selector-background;
				cursor: pointer;
				display: inline-block;
				height: 28px;
				position: relative;
				width: 140px;
				z-index: 60;
				
				div {
					cursor: pointer;
					display: inline-block;
					font-weight: bold;
					position: relative;
					text-align: center;
					z-index: inherit;
					width: 26px;
					padding-top: 4px;
					color: $tab-action-button-color;
					font-family: FontAwesome;
					
					&.scroll-tabs-beginning::before {
						content: "\f053\f053";
					}
					
					&.scroll-tabs-end::before {
						content: "\f054\f054";
					}
					
					&.scroll-tabs-left::before {
						content: "\f053";
					}
					
					&.scroll-tabs-right::before {
						content: "\f054";
					}
					
					&.add-new-tab::before {
						content: "\f067";
					}
					
					&.scroll-tabs-beginning, 
					&.scroll-tabs-end {
						padding: 0 2px;
					}
					
					&:hover {
						color: $sheet-selection-border-color;
					}
					
					&.hidden {
						color: $tab-action-button-inactive-color;
						cursor: default;
					}
				}
			}

			.sheet-tabsheet-container {
				display: inline-block;
				left: 140px;
				position: absolute;
				z-index: inherit;
				margin-right: 206px;
				
				.sheet-tabsheet-tab {
					font-family: $spreadsheet-base-font-family;
					background: $inactive-tab-background;
					border: $spreadsheet-border;
					border-top: none;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					cursor: pointer;
					display: inline-block;
					font-size: 14px;
					font-weight: 300;
					color: $inactive-tab-text-color;
					height: 20px;
					margin-bottom: 5px;
					margin-left: 5px;
					max-width: 200px;
					min-width: 50px;
					overflow: hidden;
					padding: 4px 8px 0;
					position: relative;
					text-align: center;
					text-overflow: ellipsis;
					top: -1px;
					z-index: inherit;
					
					&.selected-tab {
						background: $active-tab-background;
						cursor: default;
						color: $active-tab-text-color;
						max-width: none;
						position: relative;
						
						input[type="text"] {
							font-family: $spreadsheet-base-font-family;
							color: $active-tab-text-color;
							border: none !important;
							font-size: 14px;
							font-weight: 300;
							height: 20px;
							margin-top: 4px;
							margin-left: 10px;
							outline: none !important;
							padding: 0 !important;
							position: absolute;
							top: 0;
							left: 0;
							width: inherit;
						}
					}
				}
			}
			
			.sheet-tabsheet-temp {
				font-family: $spreadsheet-base-font-family;
				font-size: 14px;
				display: inline;
				left: -5000px;
				position: fixed;
				white-space-collapse: preserve;
			}
			
			.sheet-tabsheet-infolabel  {
				z-index: inherit;
				position: absolute;
				right: 0;
				font-weight: bold;
				font-size: 8pt;
				border-left: 1px solid rgb(169, 169, 169);
				padding-left: 5px;
				padding-top: 2px;
				width: 200px;
				height: 16px;
				display: inline;
				text-overflow: ellipsis;
			}
		}
		
		.sheet-tabsheet,
		.sheet-tabsheet div {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		
		
		/** FILTER BUTTON */
		.sheet div div.popupbutton {
			background: rgb(228, 245, 252); /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background:
				url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjVmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU0JSIgc3RvcC1jb2xvcj0iI2JmZThmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iIzlmZDhlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2MzZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top, rgba(228, 245, 252, 1) 0%,
				rgba(191, 232, 249, 1) 54%, rgba(159, 216, 239, 1) 55%,
				rgba(103, 195, 234, 1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(228,
				245, 252, 1)), color-stop(54%, rgba(191, 232, 249, 1)),
				color-stop(55%, rgba(159, 216, 239, 1)),
				color-stop(100%, rgba(103, 195, 234, 1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(228, 245, 252, 1) 0%,
				rgba(191, 232, 249, 1) 54%, rgba(159, 216, 239, 1) 55%,
				rgba(103, 195, 234, 1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(228, 245, 252, 1) 0%,
				rgba(191, 232, 249, 1) 54%, rgba(159, 216, 239, 1) 55%,
				rgba(103, 195, 234, 1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(228, 245, 252, 1) 0%,
				rgba(191, 232, 249, 1) 54%, rgba(159, 216, 239, 1) 55%,
				rgba(103, 195, 234, 1) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(228, 245, 252, 1) 0%,
				rgba(191, 232, 249, 1) 54%, rgba(159, 216, 239, 1) 55%,
				rgba(103, 195, 234, 1) 100%); /* W3C */
			border: 1px solid #000;
			bottom: 1px;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc',
				endColorstr='#67c3ea', GradientType=0); /* IE6-8 */
			cursor: pointer;
			height: 14px;
			position: absolute;
			right: 1px;
			width: 14px;
			
			&.active {
				background: rgb(210, 255, 82); /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background:
					url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyZmY1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MWU4NDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top, rgba(210, 255, 82, 1) 0%,
					rgba(145, 232, 66, 1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(210,
					255, 82, 1)), color-stop(100%, rgba(145, 232, 66, 1)));
				/* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, rgba(210, 255, 82, 1) 0%,
					rgba(145, 232, 66, 1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, rgba(210, 255, 82, 1) 0%,
					rgba(145, 232, 66, 1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, rgba(210, 255, 82, 1) 0%,
					rgba(145, 232, 66, 1) 100%); /* IE10+ */
				background: linear-gradient(to bottom, rgba(210, 255, 82, 1) 0%,
					rgba(145, 232, 66, 1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52',
					endColorstr='#91e842', GradientType=0); /* IE6-8 */
			}
			
			div.popupbutton-arrow {
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid #000;
				position: absolute;
				left: 2px;
				top: 5px;
				width: 0;
			}
		}
		
		
		/* TOUCH STYLES */
		.sheet-selection.touch {
			&.fill {
				.s-left,
				.s-right {
					width: 8px;
					background: $sheet-selection-border-color url("touch-border-vert.png") no-repeat center;
				}
				
				.s-top,
				.s-bottom {
					height: 8px;
					background: $sheet-selection-border-color url("touch-border-hor.png") no-repeat center;
				}
			}
			
			.s-corner {
				width: 12px;
				height: 12px;
				bottom: 5px;
				left: 7px;
			}
			
			.s-corner-touch {
				width: 30px;
				height: 30px;
				position: absolute;
				left: -10px;
				bottom: -10px;
			}
		}
	}
}