$spreadsheet-border: 1px solid #C7C7C7;
$spreadsheet-base-font-family: Helvetica;
$spreadsheet-base-font-size: 14px;
$spreadsheet-header-font-size: 13px;

$default-font-color: #6a6a6a;

$functionbar-background-color: #ffffff;
$functionbar-font-color: #6a6a6a;
$address-field-background: #fafafa;
$sheet-selector-background: #fafafa;

$inactive-tab-background: #fafafa;
$active-tab-background: #ffffff;
$inactive-tab-text-color: #6a6a6a;
$active-tab-text-color: #2584e2;
$tab-action-button-color: #464646;
$tab-action-button-inactive-color: #d6d6d6; 

$header-border: 1px solid #C7C7C7;
$header-bg-color: #f5f5f5;
$selected-header-bg-color: #e6edf4;
$selected-header-border-color: #63b1ff;
$col-header-gradient-top-color: #fcfcfc;
$col-header-gradient-bottom-color: #ededed;

$resize-line-color: #b8b8ff;
$inactive-resize-line-color: #c7c7c7;

$cell-background-color: #ffffff;
$cell-comment-triangle-color: #f00;

$freeze-pane-border: 1px solid black;

$sheet-selection-border-color: #197de0;
$sheet-selection-corner-color: #197de1;
$sheet-selection-extend-corner-color: #6a44d9;
$sheet-selection-extend-inside-bg-color: #c8c6f6;
$sheet-selection-range-bg-color: #e8f2fc;
$sheet-selection-highlight-outline-color: #222222;