# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# Selenium driver folders
selenium_standalone
selenium_standalone_zips
error-screenshots
reference-screenshots
driver_zips
driver

# IntelliJ IDEA files
.idea/
*.iml

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.*.js
tsconfig.json
node_modules/
