*.iml
.idea/
*/target/
*/bin/
*.DS_Store
*.project
*.settings/
*rebel.xml
*.classpath
/vaadin-spreadsheet-demo/src/main/webapp/VAADIN/widgetsets/
/charts-integration/src/main/webapp/VAADIN/widgetsets/
/target/
vaadin-spreadsheet/errors
*/styles.css

