*.iml
target/

.idea
.classpath
.project
.settings
rebel.xml

**/bower_components/
**/build-tools/bin/
**/build-tools/etc/
**/build-tools/lib/
**/build-tools/node/
**/build-tools/node_modules/
**/build-tools/yarn.lock
integration-test/.driver/
integration-test/**/frontend/node_modules
integration-test/**/frontend/node
integration-test/error-screenshots/
integration-test/src/test/resources/webdriver/
integration-test/selenium_standalone_zips/
demo/src/main/webapp/frontend/bower_components/
demo/src/main/webapp/frontend/build/
demo/src/main/webapp/frontend-es5/
demo/src/main/webapp/frontend-es6/

# Mac
*.DS_Store
