# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# Selenium
error-screenshots
reference-screenshots

# Intellij Idea files
.idea
*.iml

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
