# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# IntelliJ files
*.iml
.idea/

# Selenium
error-screenshots
reference-screenshots

package*.json
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
