.styled vaadin-board-row.large > div {
  font-size: 14px;
  height: 40px;
}

.styled vaadin-board-row.medium > div {
  font-size: 25px;
  height: 150px;
}

.styled vaadin-board-row.small > div {
  font-size: 40px;
  height: 300px;
}
