# Maven files
target/

# Eclipse files
.project
.settings
.classpath

#selenium
error-screenshots
reference-screenshots

# Idea files
*.iml
.idea

# The following files are generated/updated by flow-maven-plugin
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
