# Maven files
target/

# IDE
.project
.settings
.classpath
.idea/
*.iml

# Selenium
error-screenshots
reference-screenshots

# Os specific
.DS_Store

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
pnpm-lock.yaml
