target/
.idea/
*.iml
vaadin-accordion-flow-integration-tests/error-screenshots/
vaadin-accordion-flow-integration-tests/.driver/
**/build-tools/node
**/build-tools/node_modules
**/package-lock.json
**/bower_components/
.project
.classpath
*.launch
.settings/
.vscode/*
.DS_Store

# The following files are generated/updated by flow-maven-plugin
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/

