# Maven files
target/

# Eclipse files
.project
.settings
.classpath

# Idea files
.idea/
*.iml

#selenium
error-screenshots
reference-screenshots

# npm
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/

vaadin-grid-flow-integration-tests/benchmark/reference-clone/
vaadin-grid-flow-integration-tests/benchmark/results
