target/
.classpath
.project
.settings
*~
node_modules
bower_components
node
yarn.lock
.idea/
.vscode/
**.iml
vaadin-confirm-dialog-integration-tests/error-screenshots/

.DS_Store
local.properties

# The following files are generated/updated by flow-maven-plugin
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
