target/
.classpath
.project
.settings
*~
node_modules
bower_components
node
yarn.lock
.idea/
**.iml
**/themes/**/styles.css
**/VAADIN/frontend/
vaadin-board-integration-tests/error-screenshots/

.DS_Store
local.properties
