language = java
output_directory = '../src/test/java/com/vaadin/flow/component/confirmdialog/test/hiptest'
framework = junit
site = https://app.hiptest.com
with_folders = true
actionwords_output_directory = '../src/test/java/com/vaadin/flow/component/confirmdialog/test/hiptest'
package = 'com.vaadin.flow.component.confirmdialog.test.hiptest'
push_format = junit
global_failure_on_missing_reports = true