target/
.idea/
*.iml
vaadin-crud-flow-integration-tests/error-screenshots/
**/build-tools/
**/package-lock.json
**/bower_components/
.classpath
.project
.settings
**/.DS_Store
chromedriver*

# The following files are generated/updated by flow-maven-plugin
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
