# Maven files
target/

# Idea files
.idea
*.iml

# macOS
.DS_Store

# Eclipse files
.project
.settings
.classpath
error-screenshots

# The following files are generated/updated by flow-maven-plugin
package*.json
pnpm-lock.yaml
webpack.*.js
tsconfig.json
types.d.ts
node_modules/
